@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YEONGJUPunggiGinsengTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo-Variable';
}

body {
    background-color: #1b1c1d;
}
/* 상단 네비게이션바 */
.navigationbar {
    background-color: #0d3b66;
    height: 5em;
    z-index: 1;
}
/* 상단 네비게이션바_로고 */
.logoimg {
    width: 9em;
    height: 4.5em;
    top: 1.7em;
    margin-left: 1em;
}

/* 인풋, 버튼 위치지정용 */
.searchbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

/* 네비게이션바 고정했는데 뒤에 공간이 남아서 만든 거 */
.top_bar {
    height: 4em;
    background-color: #ffff;
    color: #f4d35e;
}

/* 검색 입력창 */
input[type='text'] {
    background-color: rgb(233, 233, 233);
    width: 70%;
    font-size: 1.2em;
    border: 0;
    outline: none;
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
}
/* 검색하고 있을때 아웃라인 */
input[type='text']:focus {
    outline-color: #ee964b;
    outline-style: solid;
    box-shadow: 0 0 0 2px #ee964b;
    transition: 0.5s;
}

/* 검색버튼 */
.searchbtn {
    border: 0;
    outline: none;
    border-radius: 20px;
    font-size: 1.3em;
    background-color: #ffde00;
    margin-left: 1em;
    color: #0d3b66;
    padding: 0.6rem 3rem 0.6rem 3rem;
}
/* 검색버튼 호버 컬러변경, 마우스 모양 바꾸기*/
.searchbtn:hover {
    background-color: #f95738;
    transition: 0.5s;
    cursor: pointer;
    outline-color: #f95738;
    outline-style: solid;
    box-shadow: 0 0 0 2px #f95738;
    transition: 0.5s;
}
/* 검색버튼 누르면 컬러변경 */
.searchbtn:active {
    background-color: #ee964b;
}

/* 즐겨찾기 버튼*/
.favoritesHomeBtn {
    border: 0;
    outline: none;
    border-radius: 20px;
    font-family: 'YEONGJUPunggiGinsengTTF';
    font-size: 1.8em;
    background-color: #ffde00;
    margin-left: 1em;
    color: #f95738;
    width: 60px;
    height: 50.38px;
}

/* 즐겨찾기 호버*/
.favoritesHomeBtn:hover {
    background-color: #f95738;
    transition: 0.5s;
    cursor: pointer;
    outline-color: #f95738;
    outline-style: solid;
    box-shadow: 0 0 0 2px #f95738;
    transition: 0.5s;
}

/* 네비게이션바 상단 위치고정 */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}

/* 이것이...플렉스.... */
#movieCards {
    flex-wrap: wrap;
    display: flex;
    margin-top: 80px;
    flex-shrink: 0;
    gap: 1rem;
}

/* 카드 */
.card {
    background-image: url('https://github.com/leesin1040/Movie/blob/main/spam1.png?raw=true');
    width: 17em;
    border-radius: 15px;
    margin: 1em;
    padding: 0.2em;
    padding-bottom: 1em;
}
.card:hover {
    background-image: url('https://github.com/leesin1040/Movie/blob/main/spam2.png?raw=true');
    transition: 0.5s;
    font-weight: 700;
    cursor: pointer;
}
.card-img-top {
    width: 15em;
    height: 22em;
    overflow: auto;
    margin-left: 0.8em;
    margin-top: 1em;
    border-radius: 15px;
    border: 0;
}

#cardtitle {
    padding: 0 1em 0 1em;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.2em;
    margin-top: 0.5em;
    word-spacing: -4;
}
.stars {
    margin: -0.2em 1em 0.2em 1em;
    text-align: center;
}
.starscolor {
    color: red;
    font-size: 1.1em;
    font-weight: 700;
    bottom: -0.08em;
    text-shadow: 0 0 3px #ffffff;
}
.overview {
    font-size: 0.9em;
    margin: 0.3em 0.5em 0.2em 1em;
    height: 4em;
    overflow-y: scroll;
    padding-right: 0.5em;
    letter-spacing: -4;
}

/* 카드 속 스크롤바 꾸미기 */
.overview::-webkit-scrollbar {
    background-color: rgb(255, 255, 255, 0.3);
    width: 5px;
}

.overview::-webkit-scrollbar-thumb {
    background-color: rgb(243, 195, 185, 1);
    border-radius: 5px;
}

body::-webkit-scrollbar {
    background-color: rgb(243, 195, 185, 1);
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(137, 67, 43, 0.5);
    border-radius: 10px;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #0d3b66;
}

.modal-title {
    background-color: #ffde00;
    border-radius: 5px;
    padding: 5px;
}

.btn-secondary {
    background-color: #ffde00;
}

.modal-background-body {
    background-color: rgb(238, 238, 223);
    border-radius: 5px;
    padding: 15px;
}

.modal-background-head {
    background-color: #ffde00;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
}

.btn-secondary {
    color: #0d3b66;
}

.btn-info {
    background-color: #ffde00;
    border-color: #ffde00;
    width: 60px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    height: 60px;
}

.input-star {
    padding-top: 6px;
    width: 200px;
}
.btn-info:hover {
    background-color: #f95738;
    border-color: #f95738;
}

.btn-primary {
    background-color: #ffde00;
    border-color: #0d3b66;
}
.btn-primary:hover {
    background-color: #f95738;
    border-color: #f95738;
}

.btn-secondary:hover {
    background-color: #f95738;
}

.detail-modal-back,
.use,
.info {
    position: fixed;
}

footer {
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    color: #ffde00;
    background-color: #0d3b66;
    padding-left: 20%;
}

.teamlogo {
    width: 200px;
}

.fa-github {
    color: #ffde00;
    margin: 6px;
}

.footerIconBox {
    padding-right: 28%;
    font-size: 30px;
}

.footerName {
    display: table-column;
    justify-content: space-between;
    align-items: center;
}

.favListArr {
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
}

.favListArr:hover {
    background-color: #0d3b667c;
    cursor: pointer;
}

.fa {
    width: 38px;
    height: 38px;
    padding-left: 13px;
    padding-top: 12px;
    margin-left: 5px;
    background-color: #ffffff;
    border-radius: 15px;
}
.fa:hover {
    background-color: #0d3b6681;
    cursor: pointer;
}

.favListArrBox {
    display: flex;
}

#pageBtn {
    display: flex;
    justify-content: center;
}

.page-button-group{
    margin: 0 .5rem;
}
/* 검색버튼 */
.pageBtn {
    border: 0;
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #ffde00;
    margin-left: 0.5em;
    color: #0d3b66;
    padding: 0.6rem 1rem 0.6rem 1rem;
}
/* 검색버튼 호버 컬러변경, 마우스 모양 바꾸기*/
.pageBtn:hover {
    background-color: #f95738;
    transition: 0.5s;
    cursor: pointer;
    outline-color: #f95738;
    outline-style: solid;
    box-shadow: 0 0 0 2px #f95738;
    transition: 0.5s;
}
/* 검색버튼 누르면 컬러변경 */

.disabled {
    border: 0;
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: #685a00;
    margin-left: 0.5em;
    color: #0d3b66;
    padding: 0.6rem 1rem 0.6rem 1rem;
}

footer {
    margin-top: 50px;
}

.input-tag {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1px;
    margin: 5px;
}

.comment-input {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    height: 60px;
}

.favModalFlex {
    display: flex;
}
