a {
  text-decoration: none !important;
  color: white !important;
}

.detail-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  min-height: 59.5rem;
}


.detail-container .content .info {
  position: absolute;
  width: 30%;
  padding: 0 3rem 1rem 1.5rem;
  bottom: 5%;
  left: 5%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.detail-container .content .info .title {
  font-size: 52px;
  margin: 2rem 0;
}

.detail-container .content .info .desc {
  padding-left: 0.2rem;
}

.detail-container .content .info p {
  margin: .8rem 0;
}

.detail-container .content .info .overview {
  word-break: break-all;
  line-height: 1.5;
}

.detail-container .content .use {
  position: absolute;
  right: 5%;
  bottom: 5%;
}


.use{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.use-button {
  appearance: none;
  background-color: #536872;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.use-button:disabled {
  pointer-events: none;
}

.use-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.use-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.detail-back {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 999;
}


.detail-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.detail-backdrop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.synopsis,
.related,
.reviews {
  width: 100%;
  margin-top: 20px;
}

.synopsis p {
  text-indent: 20px;
}

#video-modalBox .modal-dialog {
  width: auto !important;
  height: auto !important;
}

#video-modalBox .modal-body {
  padding: 0 !important;
  height: 100%;
}

#video-modalBox .modal-content {
  height: 100%;
}

#video-modalBox .yotube {
  position: relative;
  width: 100%;
  height: 100%;
}

#clipBtn{
  margin-right: 1.5rem;
}

.comment{
  
  flex-grow: 1;
  height: 100%;
}



/* iframe,
object,
embed{
  width: 100%;
  height: 100%;
} */